/* Importing Bootstrap SCSS file. */
$background-color: #303030;
$text-color: #fff;

html {
  height: 100%;
  background-color: $background-color;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}
