<div class="d-flex flex-column justify-content-center align-items-center h-100">
  <div class="p-3 pt-0 mx-auto text-center">
    <h1 class="fs-1 fw-normal">Yunus ÖLMEZ</h1>
    <p class="fs-4">Lead Web Developer at XYZ Technology, Istanbul</p>
  </div>

  <ul class="text-center p-3 pb-5 mb-5 pt-0">
    <li class="icon"><a href="https://twitter.com/ynslmz" class="icon-link"><i class="bi bi-twitter"></i></a></li>
    <li class="icon"><a href="https://www.linkedin.com/in/ynslmz/" class="icon-link"><i class="bi bi-linkedin"></i></a>
    </li>
    <li class="icon"><a href="https://www.instagram.com/yns.lmz/" class="icon-link"><i class="bi bi-instagram"></i></a>
    </li>
    <li class="icon"><a href="https://stackoverflow.com/users/3129784/ynslmz" class="icon-link"><i
          class="fab fa-stack-overflow"></i></a></li>
    <li class="icon"><a href="https://github.com/ynslmz" class="icon-link"><i class="bi bi-github"></i></a></li>
    <li class="icon"><a href="mailto:yns4832@gmail.com" class="icon-link"><i class="bi bi-envelope"></i></a></li>
  </ul>
  <div class="my-5"></div>
</div>
