<div class="d-flex flex-column justify-content-center align-items-center h-100">
  <div class="p-3 pt-0 mx-auto text-center">
    <h1 class="fs-1 fw-normal text-white">Yunus ÖLMEZ</h1>
    <p class="fs-4 text-white">
      Senior Software Developer with more than
      {{ currentYear - 2012 }} years of experience.
    </p>
    <p class="fs-5 text-white"> Houten - Netherlands </p>
  </div>

  <ul class="text-center p-3 pb-5 mb-5 pt-0">
    <li class="icon" *ngFor="let link of links">
      <a [href]="link.url" class="icon-link"><i [class]="link.icon"></i>
      </a>
    </li>
  </ul>
</div>