<!-- Yunus ÖLMEZ
Lead Web Developer for XYZ Technology

twitter, linkedin, instagram, stackoverflow, github, medium, mail -->
<div class="d-flex flex-column justify-content-center align-items-center h-100">
  <div class="px-3 py-3 pt-md-1 pb-md-5 mx-auto text-center">
    <h1 class="display-4">Yunus ÖLMEZ</h1>
    <p class="lead">Lead Web Developer for XYZ Technology, Istanbul</p>
  </div>

  <ul class="text-center">
    <li class="icon"><a href="https://twitter.com/ynslmz" class="icon-link"><i class="bi bi-twitter"></i></a></li>
    <li class="icon"><a href="https://www.linkedin.com/in/ynslmz/" class="icon-link"><i class="bi bi-linkedin"></i></a>
    </li>
    <li class="icon"><a href="https://www.instagram.com/yns.lmz/" class="icon-link"><i class="bi bi-instagram"></i></a>
    </li>
    <li class="icon"><a href="https://stackoverflow.com/users/3129784/ynslmz" class="icon-link"><i
          class="fab fa-stack-overflow"></i></a></li>
    <li class="icon"><a href="https://github.com/ynslmz" class="icon-link"><i class="bi bi-github"></i></a></li>
    <li class="icon"><a href="mailto:yns4832@gmail.com" class="icon-link"><i class="bi bi-envelope"></i></a></li>
  </ul>
</div>
